<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="per.poacher.pojo"/>
    </typeAliases>
    <mappers>
        <mapper class="per.poacher.mapper.UserMapper"/>
        <mapper class="per.poacher.mapper.BoardMapper"/>
        <mapper class="per.poacher.mapper.PostMapper"/>
        <mapper class="per.poacher.mapper.ReplyMapper"/>
        <mapper class="per.poacher.mapper.UserLoginLogMapper"/>
    </mappers>

</configuration>